:root {
  font-family: fantasy;
}

form input {
  padding: 5px;
}

.book {
  font-size: 25px;
  display: grid;
  padding: 25px;
  row-gap: 20px;
  text-align: center;
  border: 10px rgb(65, 158, 65) solid;
  border-radius: 10px;
}

.read-button {
  background: rgb(65, 158, 65);
  color: white;
  border-radius: 10px;
}

.unread-button {
  background: red;
}

.unread-book {
  border-color: red;
}

.delete-button {
  color: white;
  border-radius: 10px;
  background-color: black;
}