:root {
  font-family: 'Courier New', Courier, monospace;
}

form input {
  padding: 5px;
}

.book {
  font-size: 25px;
  display: grid;
  padding: 30px 25px;
  row-gap: 30px;
  justify-content: center;
  text-align: center;
  border: 2px rgb(65, 158, 65) solid;
  border-radius: 10px;
}

.read-button {
  background: rgb(65, 158, 65);
  color: white;
  border-radius: 10px;
  border: 2px black solid;
}

.unread {
  color: white;
  background: red;
}